/*admin.php container */
/* .container {
  position: relative;
  top: 50px; */
  /*border: 1px solid red;*/
  /* height: 500px;
  width: 500px;
} */

/*admin.php username and password row */
/* .row{

  /*border: 1px solid blue;*/
  /* position: relative;
  padding: 15px;
} */

/*admin.php logo resize */
/* .admin_logo{

  height: 120px;
  width: 100px;

}

.welcome
{
  position: relative;
  left: auto;
} */
